* {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif */
}

body {
    background-color: rgb(8, 8, 39);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(3, 3, 32)
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 6px;
}

nav ul li {
    list-style: none;
    margin: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {

    color: rgb(125, 125, 250);
    font-size: 1.04rem;

}

.left {
    font-size: 1.5rem;
}

.first {
    display: flex;
    justify-content: space-around;
    margin: 114px 0px;
}

.leftSection {
    /* background: red; */
    width: 30%;
    font-size: 3rem;

}

.leftSection .btn {
    background: rgb(46 22 68);
    border: 2px solid white;
    padding: 12px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;

}
.leftSection .button{
    padding: 50px 0px;
}

.rightSection {
    /* background: red; */
    width: 30%;


}

.rightSection img {
    /* background: red; */
    width: 90%;



}

.purple {
    color: rgb(149, 48, 243);
}

#element {
    color: rgb(149, 48, 243);

}

main hr {
    border: 0;
    background: rgb(156, 62, 245);
    height: 1.2px;
    margin: 60px 84px;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.grey {
    color: gray;
}

.secondSection h1 {
    font-size: 1.9rem;

}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 1px;
    margin: 54px 0px;
    display: flex;

}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0px 130px;
}

.verticle-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.verticleDesc {
    position: relative;
    top: 123px;
    color: grey;
    width: 104px;
    font-size: 10px;
}

.img-top {
    width: 31px;
    position: relative;
    top: -32px;
    left: -14px;

}
footer{
    
    background: rgb(5, 5, 26);
    /* height: 256px; */
}
.footer{
    display: flex;
    padding:23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer >div{
    width: 223px;
}
footer .reserved{
    text-align: center;
    color: blueviolet;
}